/home/inf-47-2024/ClinVar_SMART/Raw_Data/Ancient/Ancient_samples_filtered.bim
/home/inf-47-2024/ClinVar_SMART/Raw_Data/Ancient/v54.1_1240K_public.bed
/home/inf-47-2024/ClinVar_SMART/Raw_Data/Ancient/v54.1_1240K_public.fam
/home/inf-47-2024/ClinVar_SMART/Raw_Data/ClinVar/variant_summary.txt
/home/inf-47-2024/ClinVar_SMART/Raw_Data/ClinVar/variant_summary.txt.gz
/home/inf-47-2024/ClinVar_SMART/Raw_Data/Ancient/Ancient_samples.ped



